body{margin-top:0;margin-left:0;margin-right:0;}
body {background-image:url('../img/sprite.png');background-position:0px -1829px;}
.container{}

.success-message{color:#1a2f4d;font-size:20px;}


.loading { position:fixed; left:0; top:0; width:100%; height:100%;background-color:transparent;z-index:2;background-color:#fff;
}
.loading .complete-loader{margin-top: 15%;margin-left: 45%;}
.loading img{margin-left: 100px;}
.logo-loader{background-image:url('../img/sprite.png');background-position:0px -1110px;height: 90px;}

/*HEADER*/
.header .row:first-child{margin-top:35px;}

/*Logo*/
.logo{background-image:url('../img/sprite.png');background-position: 0px 0px;height: 286px;z-index:3;}

/*Call today*/
.tel .call-today{color:#adbcd1;font-size:24px;}
.tel .tel-number{color:#333;font-size:50px;display:inline-block;}
.tel{text-align:right;float:right;}

/*Menu*/
.selected a{color: #ff0000;padding: 15px;border-radius: 5px;background-color: #fff;opacity:0.7;}
ul li{text-decoration:none;display:inline-block;}
li a{color:#222;font-size:14px;margin-right:20px;font-weight:bold;cursor:pointer;}
li:last-child a{margin-right:0;}
li a:hover{color:#ff0000;text-decoration:none;}
.menu{margin: 5px 0 5px;text-align:right;float:right;}
ul{padding-left:0;}

/*HOME*/
/*Banner*/


.hanggliding1{position:absolute;background-image:url('../img/sprite.png');background-position: 0px -2875px;height:116px;width:135px;z-index:1;left:604px;top:544px;}
.hanggliding2{position:absolute;background-image:url('../img/sprite.png');background-position: 0px -3650px;height:118px;width:635px;z-index:2;left:499px;top:270px;}
.hanggliding3{position:absolute;background-image:url('../img/sprite.png');background-position: 0px -3015px;height:85px;width:135px;z-index:2;left:940px;top:220px;}
.hanggliding4{position:absolute;background-image:url('../img/sprite.png');background-position: 0px -3105px;height:206px;width:135px;z-index:3;left:1171px;top:450px;}
.hanggliding5{position:absolute;background-image:url('../img/sprite.png');background-position: 0px -3520px;height:146px;width:145px;z-index:2;left:1571px;top:450px;}
.hanggliding6{position:absolute;background-image:url('../img/sprite.png');background-position: 0px -3270px;height:118px;width:135px;z-index:2;left:-200px;top:320px;}
.logo-center{position:absolute;height:25px;z-index:2;left:9px;top:625px;}

.cloud1{position:absolute;background-image:url('../img/sprite.png');background-position: 0px -380px;height:225px;width:372px;z-index:1;left:1240px;top:150px;}
.cloud2{position:absolute;background-image:url('../img/sprite.png');background-position: 0px -605px;height:390px;width:622px;z-index:4;left:750px;top:200px;}
.cloud3{position:absolute;background-image:url('../img/sprite.png');background-position: 0px -1005px;height:393px;width:892px;z-index:2;left:550px;top:260px;}
.cloud4{position:absolute;background-image:url('../img/sprite.png');background-position: 0px -380px;height:225px;width:372px;z-index:2;left:170px;top:290px;}
.cloud5{position:absolute;background-image:url('../img/sprite.png');background-position: -280px -2875px;height:465px;width:2272px;z-index:4;left:0px;bottom:0;}


/*Areas*/
.practice-area{color:#1a2f4d;font-size:22px;}
.area-examples{color:#adbcd1;font-size:16px;}
.areas{background-image:url('../img/sprite.png');background-position: 236px -63px;margin-bottom:10px;}
.area-click:hover{background-color:#eee;box-shadow:2px -2px 5px #eee;outline:3px solid #aaa;}
.area-click{cursor:pointer;padding:5px 20px 10px;max-width:177px;}
.areas:last-child{background-image:none;}
.practice-area-preview{color:#666;font-size:13px;padding:10px 0;}

.audience-illustration{background-image:url('../img/sprite.png');background-position: -1px -1620px;}
.retirement-illustration{background-image:url('../img/sprite.png');background-position: 0px -1729px;}
.family-illustration{background-image:url('../img/sprite.png');background-position: -1px -1389px;}
.criminal-illustration{background-image:url('../img/sprite.png');background-position: -1px -1505px;}
.criminal-illustration,.family-illustration, .retirement-illustration, .audience-illustration{margin-top:10px;height:101px;border: 1px solid #bbb;box-shadow: 1px 1px 3px #aaa;max-width: 136px;}

.abouthangglide-template, .aboutinstructors-template, .aboutrio-template, .contact-template, .photos-template, .videos-template, .tandemflight-template, .faq-template{background-color:#fff;opacity:1;padding:25px;z-index:10;display:block;border-radius:10px;box-shadow:2px 2px 35px #333;}
/*AREAS SECTION*/
.area-arrow{font-size:13px;}
.panel-body{color:#666}

.instructor1{background-image:url('../img/instructorssprite.png');background-position: -54px -25px;height:356px;}
.instructor2{background-image:url('../img/instructorssprite.png');background-position: -1px -378px;height:356px;}
.instructor3{background-image:url('../img/instructorssprite.png');background-position: -1px -778px;height:356px;}
.instructor1, .instructor2, .instructor3{border: 15px solid #fff;box-shadow: 1px 1px 5px #333;margin-top: 25px;}
/*PROFILE*/
.attorney-picture{background-image:url('../img/sprite.png');background-position: -1px -1899px;height:200px;}
.attorney-name{font-size:20px;}
.attorney-profile{color:#666;margin:10px 0;}

/*FOOTER*/
.logo-trasparent{opacity:0.75;background-image:url('../img/sprite.png');
background-position: 0px 0px;height: 95px;width:305px;}
.contact{}
.copyright{color:#adbcd1;}
.especialies{margin-top: 10px;display:none;}
.footer{background-color:#fff;box-shadow: 1px -5px 5px #ddd;position:relative;width:100%;
	left:0px;bottom:0px;color:#1a2f4d;font-size:14px;padding: 30px 0;}

/*MEDIA QUERY*/

@media (max-width: 1279px) { .areas{padding-left:0;background-image:none;} }

/* Landscape phone to portrait tablet */
@media (max-width: 979px) { 
	.areas{padding-left:0;background-image:none;margin-bottom:10px;}
	.container{width:100%;}
	.address, .phones{margin-bottom:20px;}
	.tel{float:left;}
	li a{font-size:18px;}
	li{margin-bottom:10px;}
	.header .row:first-child{margin-top:10px;}
	.ipad-bg{background-color:#fff;padding:20px 10px;width:100%;box-shadow:2px 2px 2px #ddd;z-index:5;}
 }
 
/* Landscape phones and down */
@media (max-width: 480px) { ul li{display:block;}
	.menu{float:left!important;text-align:left;}
	.tel{float:left!important;text-align:left;}
 }

/* Landscape phones and down */
@media (max-width: 277px) {
	.logo{background-position: 0px -1264px;}
	.logo-trasparent{background-position: 0px -1264px;}
 }






/* Landscape phones and down */
@media (max-width: 1377px) {
	body {background-image:url('../img/sprite.png');background-position:-2080px -1629px;
}
.logo{background-position: -373px 0px;height: 200px;}
 }